<html>
    <head>
        <title>Bella Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bella Girls Blog</a></h1>
        </div>

        <div>
            <p>Bienvenue chez Bella</p>
           
        </div>
      {% for post in posts %}
        <div>
            <p>django Girls</p>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text}}</p>
        </div>
      {% endfor %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </body>
</html>