<html>
    <head>
        <title>Bella Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Bella Girls Blog</a></h1>
        </div>

        <div>
            <p>Bienvenue chez Bella</p>
            <h2><a href="">My first post</a></h2>
            <p> Avez-vous déjà eu l'impression que la technologie prend une place de plus en plus importante.</p>
        </div>
      {% for post in posts %}
        <div>
            <p>django Girls</p>
            <h2><a href="">{{Mon second post}}</a></h2>
            <p>{{Welcome to the Django Girls Tutorial! We are happy to see you here}}</p>
        </div>
      {% endfor %}
    </body>
</html>